.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s ease;
}

.rel-me-links {
  display: none;
}

.bodytext,
.worktext,
.container-4 {
  padding-bottom: 5rem;
}

.body {
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .cursor-dot {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .body {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
